* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #18ba60;
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

nav {
  /* width: 100%; */
  background-color: #262626;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.nav-img {
  /* height: 95%; */
  width: 22vh;
}

.nav-img img {
  height: 100%;
  width: 100%;
}

nav button {
  padding: 7px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #7aa93c;
  color: white;
  border: none;
  border-radius: 3px;
  transition: 1s;
  margin-right: 15px;
  cursor: pointer;
}

nav button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.103));
}

.hero {
  height: 140vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.203)),
    url(./Images/imageye___-_imgi_85_sl-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  /* max-width: 1200px;  */
  padding: 10px;
  align-items: center;
  gap: 90px;
  align-items: center;
  margin-bottom: 180px;
  justify-content: space-evenly;
}

.header-ul {
  list-style: none;
  display: flex;
  font-family: var(--primary-font-family);
  align-items: center;
  gap: 30px;
  color: white;
  font-size: 14px;
}

.header-ul li {
  transition: 0.6s;
  cursor: pointer;
}

.header-ul li:hover {
  color: var(--primary-color);
}

.header i {
  font-size: 35px;
  color: var(--primary-color);
  display: none;
}

.hero-content {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center; */
}

.hero-content-div {
  /* width: 100%; */
  /* border: 1px solid white; */
  padding-left: 70px;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-content-div h4 {
  font-size: 26px;
  font-weight: 400;
  width: 100%;
}

.hero-content-div h1 {
  font-size: 3.6rem;
  font-weight: 600;
  width: 100%;
  font-family: var(--secondary-font-family);
}

.hero-content-div p {
  font-size: 17px;
  font-family: var(--secondary-font-family);
  width: 73%;
}

.hero-content button {
  width: 180px;
}

.primary-button {
  padding: 18px 15px;
  font-size: 13px;
  font-family: var(--secondary-font-family);
  background-color: var(--primary-color);
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.7s;
  border: 1px solid var(--primary-color);
}

.primary-button:hover {
  background-color: transparent;
}

.collaborative-section {
  padding: 20px;
}

.collaborative-p {
  display: flex;
  justify-content: center;
}

.collaborative-section p {
  font-size: 30px;
  font-family: var(--primary-font-family);
  text-align: center;
}

.collaborative-card-section {
  /* border: 1px solid red; */
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}

.collaborative-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 360px;
  row-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.132);
  transition: 0.6s;
}

.collaborative-card i {
  font-size: 60px;
  padding-top: 60px;
  color: var(--primary-color);
}

.collaborative-card h3 {
  font-size: 23px;
  font-family: var(--secondary-font-family);
  color: #262626c7;
}

.collaborative-card p {
  font-size: 15px;
  width: 70%;
  color: rgba(0, 0, 0, 0.509);
  padding-bottom: 70px;
}

.collaborative-card-2 {
  background-color: var(--primary-color);
}

.collaborative-card-2 p,
.collaborative-card-2 i,
.collaborative-card-2 h3 {
  color: white;
}

.collaborative-card:hover {
  background-color: var(--primary-color);
}

.collaborative-card:hover p,
.collaborative-card:hover i,
.collaborative-card:hover h3 {
  color: white;
}

.choosing-section {
  background-color: #f8f8f8;
  padding: 20px;
  /* border: 1px solid #000; */
  display: flex;
  gap: 30px;
}

/* .choosing-img {
    
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.choosing-section img {
  height: 100vh;
  width: 150vh;
}

.choosing-content {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 30px;
  row-gap: 40px;
  box-sizing: border-box;
}

.choosing-content h2 {
  font-family: var(--primary-font-family);
  font-size: 35px;
}

.choosing-content h2 span {
  color: var(--primary-color);
}

.choosing-content p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.537);
  width: 75%;
  font-family: var(--primary-font-family);
}

.choosing-uls {
  display: flex;
  /* border: 1px solid #000; */
  width: 70%;
  justify-content: space-between;
  font-size: 17px;
  flex-wrap: wrap;
}

.choosing-uls ul {
  font-family: var(--primary-font-family);
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: gray;
  flex-wrap: wrap;
}

.choosing-uls i {
  color: var(--primary-color);
}

.primary-button-2 {
  padding: 17px 30px;
}

.primary-button-2:hover {
  color: var(--primary-color);
}

/* .services-section {
  border: 1px solid #000;
} */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  row-gap: 10px;
}

.content h2 {
  font-family: var(--primary-font-family);
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.694);
}

.content p {
  font-family: var(--primary-font-family);
  font-size: 15px;
  color: #0000009c;
  width: 50%;
  text-align: center;
  font-weight: 400;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.divider span {
  width: 60px;
  height: 2px;
  background-color: var(--primary-color);
}

.divider i {
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 10px;
}

.service-cards-section {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
  row-gap: 30px;
}

.service-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  /* border: 2px solid red; */
  position: relative;
  transition: 0.4s;
}

.service-icon {
  position: absolute;
  padding: 15px;
  border-radius: 100%;
  z-index: 1000;
  border: 7px solid #dad8d8;
  background-color: var(--primary-color);
  left: 5%;
  top: 43%;
  transition: 0.4s;
}

.service-card:hover .service-icon {
  background-color: rgb(82, 81, 81);
}

.service-card:hover {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.068);
}

.service-icon i {
  font-size: 25px;
  color: white;
}

.service-content {
  /* border: 1px solid #000; */
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 50px;
}

.service-card h3 {
  font-size: 20px;
  font-family: var(--primary-font-family);
  color: rgba(0, 0, 0, 0.694);
}

.service-card p {
  font-family: var(--primary-font-family);
  font-size: 15px;
  color: #00000064;
  padding-top: 10px;
  padding-bottom: 40px;
}

.plan-consultant {
  width: 100%;
  min-height: 50vh;
  background-image: url(./Images/imageye___-_imgi_87_banner__03.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.plan-content {
  /* height: 100%; */
  max-width: 1200px;
  padding: 0 20px; /* mobile padding */
  /* border: 1px solid #000; */
  padding-left: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plan-content .primary-button {
  width: 240px;
}

.plan-content h2 {
  font-family: var(--primary-font-family);
  color: rgba(0, 0, 0, 0.694);
  font-size: 26px;
}

.plan-content p {
  font-family: var(--primary-font-family);
  color: #000000a1;
  font-size: 15px;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
  justify-content: center;
  align-items: center;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.portfolio-ul {
  list-style: none;
  display: flex;
  font-family: var(--primary-font-family);
  gap: 30px;
  color: #000000a1;
  margin-top: -20px;
  font-weight: 600;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.portfolio-ul li {
  cursor: pointer;
}

.portfolio-ul li:nth-child(1) {
  padding: 7px 17px;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: white;
}

.portfolio-card-section {
  padding-bottom: 50px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 40px;
}

.portfolio-card {
  width: 360px;
  /* border: 1px solid #000; */
  height: 310px;
  background-image: url(Images/imageye___-_imgi_12_1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.portfolio-card-2 {
  background-image: url(Images/imageye___-_imgi_13_2.jpg);
}

.portfolio-card-3 {
  background-image: url(Images/imageye___-_imgi_14_3.jpg);
}

.portfolio-card-4 {
  background-image: url(Images/imageye___-_imgi_15_4.jpg);
}

.portfolio-card-5 {
  background-image: url(Images/imageye___-_imgi_16_5.jpg);
}

.portfolio-card-6 {
  background-image: url(Images/imageye___-_imgi_17_6.jpg);
}

.portfolio-card::after {
  content: "";
  position: absolute;
  height: 20%;
  width: 200%;
  background-color: var(--primary-color);
  top: -20%;
  right: -20%;
  transform: translate(150%, -100%) rotate(50deg) scale(1);
  z-index: 2;
  /* transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1); */
  transition: transform 1.5s ease;
  opacity: 0.6;
}

.portfolio-card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.541);
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease;
  transition-delay: 0.5s;
}

.portfolio-card:hover::before {
  opacity: 1;
  transition-delay: 0.5s;
  /* transition: 2s; */
}

.portfolio-card:hover::after {
  transform: translate(-170%, 120%) rotate(50deg) scale(3);
  height: 100%;
  transition: 2s;
}

.portfolio-card:hover {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.523)),
    url(Images/imageye___-_imgi_12_1.jpg); */
  transform: rotateY(7deg) rotateX(7deg);
}

.portfolio-card-content {
  /* position: absolute; */
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* opacity: 0; */
  transform: scale(0);
  /* transition: 0s; */
  transition-delay: 0s;
}

.portfolio-card:hover .portfolio-card-content {
  /* opacity: 1; */
  transform: scale(1);
  transition-delay: 0.6s;
  /* transition: 1s; */
}

.portfolio-card-content h2 {
  font-family: var(--primary-font-family);
  color: white;
  font-size: 25px;
  font-weight: 400;
}

.portfolio-card-content p {
  font-family: var(--primary-font-family);
  font-size: 18px;
  color: white;
}

.portfolio-card-content i {
  /* border: 1px solid #000; */
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  color: var(--primary-color);
  transition: 0.6s;
  cursor: pointer;
}

.portfolio-card-content i:hover {
  background-color: var(--primary-color);
  color: white;
}

.team-section {
  padding: 20px 0px 40px 0px;
  /* border: 1px solid #000; */
  background-color: #f8f8f8;
}

.team-card-section {
  /* border: 1px solid #000; */
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0px 30px 0px;
}

.team-card {
  width: 360px;
  height: 75vh;
  /* border: 1px solid red; */
  background-image: url(Images/imageye___-_imgi_18_1.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 1s;
}

.team-card-2 {
  background-image: url(Images/imageye___-_imgi_19_2.jpg);
}

.team-card-3 {
  background-image: url(Images/imageye___-_imgi_20_3.jpg);
}

.team-card-content {
  width: 100%;
  /* height: 30%; */
  background-color: var(--primary-color);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  gap: 15px;
  transition: 0.5s;
  transform: translateX(-380px);
}

.team-card:hover .team-card-content {
  transform: translateX(0px);
}

.team-card-content h3 {
  font-family: var(--primary-font-family);
  color: white;
  font-size: 16px;
}

.team-card-content p {
  font-family: var(--primary-font-family);
  color: white;
  font-size: 15px;
}

.team-card-content-icons i {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.team-card-content-icons i:hover {
  color: black;
}

.team-card-content-icons {
  display: flex;
  gap: 15px;
}

.pricing-section {
  border: 1px solid #000;
  padding: 20px;
}

.pricing-card-section {
  /* border: 1px solid #000; */
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.pricing-card {
  /* border: 1px solid red; */
  width: 320px;
  padding: 30px 0px 20px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f8f8f8;
}

.price-ball {
  /* border: 1px solid #000; */
  /* height: 9vh;
  width: 4vw; */
  border-radius: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: var(--primary-color);
  /* outline: 3px solid var(--primary-color);
  outline-offset: 5px; */
}

.price-ball h1 {
  font-family: var(--primary-font-family);
  color: white;
}

.price-ball p {
  font-family: var(--primary-font-family);
  color: white;
}

.pricing-card h2 {
  font-family: var(--primary-font-family);
  font-size: 19px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.555);
  padding: 10px 0px 20px 0px;
}

.pricing-p {
  /* border: 1px solid #000; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.pricing-p p {
  color: rgba(0, 0, 0, 0.555);
  font-family: var(--primary-font-family);
  letter-spacing: 1.2;
}

.pricing-p span {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.486);
  /* padding-right: 5px; */
}

.pricing-p p:last-child,
.pricing-p p:nth-child(4) {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.349);
}

.pricing-card:hover .price-ball {
  outline: 3px solid var(--primary-color);
  outline-offset: 3px;
}

.pricing-card:hover .primary-button {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

.pricing-card-2 .price-ball {
  outline: 3px solid var(--primary-color);
  outline-offset: 3px;
}

.pricing-card-2 .pricing-p p:nth-child(4) {
  text-decoration: none;
}

.pricing-card-3 .pricing-p p {
  text-decoration: none;
}




@media screen and (width <= 995px) {
  .hero {
    background-size: 100% 100%;
  }
  .header img {
    height: 8vh;
    width: 20vw;
  }

  .header ul {
    gap: 17px;
  }
  .header {
    gap: 10px;
    font-size: 13px;
  }

  .hero-content-div h4 {
    font-size: 20px;
  }

  .hero-content-div h1 {
    font-size: 2.6rem;
  }

  .hero-content-div p {
    font-size: 14px;
  }

  .primary-button {
    width: 200px;
  }
}

@media screen and (width <= 760px) {
  .header {
    justify-content: center;
    gap: 70px;
  }
  .header img {
    height: 14vh;
    width: 30vw;
  }
  .header ul {
    display: none;
  }

  .header i {
    display: block;
  }

  .hero {
    background-size: 100% 100%;
  }

  .hero-content {
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .hero-content-div h4 {
    font-size: 17px;
  }

  .hero-content-div h1 {
    font-size: 2.3rem;
  }

  .hero-content-div p {
    font-size: 13px;
  }

  .primary-button {
    width: 150px;
  }

  .choosing-section img {
    height: 90vh;
    width: 70vh;
  }
  .choosing-uls {
    flex-direction: column;
    row-gap: 10px;
  }

  .choosing-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-cards-section {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .plan-content {
    padding: 0 15px;
  }

  .plan-content h2 {
    font-size: 20px;
  }

  .plan-content p {
    font-size: 14px;
  }

  .plan-content .primary-button {
    width: 180px;
  }

  .plan-consultant {
    background-attachment: scroll;
  }

  .team-card-section {
    flex-direction: column;
    row-gap: 20px;
  }

  .pricing-card-section  {
    flex-direction: column;
    gap: 30px;
  }
}
